name: Repository
  
on: 
  issues:
    types:
      - opened
      - edited

env: 
  dismiss_pull_request_Team: Punith0480
  check_build_status: build,test
  Admin: Punith0480
  Writer: Punith0480
  TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Creating a repo from Template
      if: contains(github.event.issue.labels.*.name, 'policies')
      run: | 
         echo "Testing Issue body"
         echo "${{ github.event.issue.number }}"
         echo "reponame=$(curl \
         -H "Accept: application/vnd.github.v3+json" \
         https://api.github.com/repos/ajaykatke/Aj-createdrepo/issues/"${{ github.event.issue.number }}" | grep body | grep -oP '(?<=reponame:)\w+' )" >> $GITHUB_ENV
    
          
    
    - name: Creating branch policy
      if: ${{ contains(github.ref, 'refs/heads/Main/') }} && contains(github.event.issue.labels.*.name, 'policies')
      run: | 
        echo "Branch_Policies"  
        echo "${{ env.BRANCH }}"
        echo "${{ github.repository }}"
        echo "${{env.reponame}}"
        echo $GITHUB_ENV
        curl \
        -X PUT \
        -H "Accept: application/vnd.github.v3+json" \
        -H "Authorization: token ${{ env.TOKEN }}" \
        https://api.github.com/repos/${{env.reponame}}/branches/${{github.ref_name}}/protection \
        -d '{"required_status_checks":{"strict":true,"contexts":["${{ env.check_build_status }}"]},"enforce_admins":true,"required_pull_request_reviews":{"dismissal_restrictions":{"users":["${{ env.dismiss_pull_request_User }}"],"teams":["${{ env.dismiss_pull_request_Team }}"]},"dismiss_stale_reviews":true,"require_code_owner_reviews":false,"required_approving_review_count":2},"restrictions":{"users":[""],"teams":[""],"apps":["apps"],"required_conversation_resolution":true,"required_linear_history":false}'
        
    - name: Adding Admin Permissions 
      if: contains(github.event.issue.labels.*.name, 'policies') && contains(github.event.issue.labels.*.name, 'policies')
      run: | 
        curl \
        -X PUT \
        -H "Accept: application/vnd.github.v3+json" \
        -H "Authorization: token ${{ env.TOKEN }}" \
        https://api.github.com/orgs/mPunith31/teams/${{ env.Admin }}/repos/${{env.reponame}} \
        -d '{"permission":"admin"}'
        
    - name: Adding write Permissions 
      if: contains(github.event.issue.labels.*.name, 'policies') && contains(github.event.issue.labels.*.name, 'policies')
      run: | 
        curl \
        -X PUT \
        -H "Accept: application/vnd.github.v3+json" \
        -H "Authorization: token ${{ env.TOKEN }}" \
        https://api.github.com/orgs/mPunith31/teams/${{ env.Writer }}/repos/${{env.reponame}} \
        -d '{"permission":"push"}'  
        
    - name: Automerging enabled.
      if: contains(github.event.issue.labels.*.name, 'policies') && contains(github.event.issue.labels.*.name, 'policies')
      run: | 
          curl \
          -X PATCH \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ env.TOKEN }}" \
          https://api.github.com/repos/${{env.reponame}} \
          -d '{"allow_auto_merge":true}'
